.listpage_top {
  background: #f0f0f0;
  font-size: 12px;
  color: #333;
}

.listpage_top a {
  display: inline-block;
  line-height: 29px;
}

.listpage_top span {
  padding: 0 5px;
}

.listpage_cont {
  margin: 5px 0 10px 0;
}

.listpage_cont .mian_left {
  width: 179px;
  float: left;
}

.listpage_cont .mian_left .mian_left_top {
  border: 1px solid #F3CE76;
  margin-bottom: 15px;
}

.listpage_cont .mian_left .mian_left_top li {
  height: 25px;
  padding: 7px 0 0 0;
  border-bottom: 1px #F0E2C2 solid;
  height: 34px;
  background: #FFF9EB url("../img/icon_navLevel1.gif") no-repeat 163px 16px;
  border-bottom: 1px #F0E2C2 solid;
  height: 34px;
  padding: 0;
  margin: 0;
}

.listpage_cont .mian_left .mian_left_top li:nth-child(1) {
  background: #ffdc93;
}

.listpage_cont .mian_left .mian_left_top li:nth-child(1) h3 {
  font-weight: bold;
}

.listpage_cont .mian_left .mian_left_top li:hover {
  background: #ffdc93;
}

.listpage_cont .mian_left .mian_left_top li h3 {
  margin-left: 28px;
  font-size: 14px;
  color: #845400;
}

.listpage_cont .mian_left .mian_left_top li a {
  font-size: 14px;
  color: #845400;
  line-height: 22px;
  display: inline-block;
}

.listpage_cont .mian_left .mian_left_top li a span {
  padding-left: 34px;
  float: left;
  padding-bottom: 6px;
  cursor: default;
}

.listpage_cont .mian_left .listpage_left_img {
  margin-top: 10px;
}

.listpage_cont .mian_left .listpage_left_img a img {
  height: 97px;
  width: 179px;
}

.listpage_cont .mian_left .ctnerI {
  margin-top: 10px;
  border: 1px solid #ccc;
}

.listpage_cont .mian_left .ctnerI .ctnerT {
  margin-top: 10px;
  height: 28px;
  overflow: hidden;
  background: #FFF;
  padding: 0 11px;
}

.listpage_cont .mian_left .ctnerI .ctnerT h3 {
  font-weight: bold;
}

.listpage_cont .mian_left .ctnerI .ctnerBody {
  border-top: 0;
  padding: 8px 13px;
  height: 1%;
  overflow: hidden;
  font-size: 12px;
}

.listpage_cont .mian_left .ctnerI .ctnerBody h3 {
  font-weight: bold;
  color: green;
}

.listpage_cont .mian_left .ctnerI .ctnerBody ul {
  margin-top: 8px;
}

.listpage_cont .mian_left .ctnerI .ctnerBody ul li {
  clear: both;
  padding: 0 0 9px 0;
  float: left;
  display: inline;
  width: 100%;
  margin: 0;
}

.listpage_cont .mian_left .ctnerI .ctnerBody ul li label {
  padding: 0;
  float: left;
  line-height: 16px;
  cursor: pointer;
  width: 100%;
}

.listpage_cont .mian_left .ctnerI .ctnerBody ul li label input {
  padding: 0;
  float: left;
  vertical-align: middle;
  width: 20px;
  height: 16px;
}

.listpage_cont .mian_left .ctnerI .ctnerBody ul li label span {
  float: left;
  width: 80%;
  margin-left: 3px;
  padding-top: 0;
}

.listpage_cont .mian_left .ctnerI .ctnerBot {
  padding: 6px 0;
  background: #F7F7F7;
  margin: 0 auto;
  border: 1px solid #DEDEDE;
  border-top: none;
  height: 1%;
  overflow: hidden;
  font-size: 12px;
}

.listpage_cont .mian_left .ctnerI .ctnerBot p .egg_btns_org {
  background-color: #f7661f;
  border: 1px solid #f7661f;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  margin-left: 30px;
}

.listpage_cont .mian_left .ctnerI .ctnerBot p .egg_btns_org:hover {
  background-color: #ff971c;
  border: 1px solid #ff971c;
}

.listpage_cont .mian_left .ctnerI .ctnerBot p .funcLink {
  margin: 4px 0 0 12px;
}

.listpage_cont .mian_left .ctnerI .ctnerBot p .funcLink:hover {
  color: #ff971c;
}

.listpage_cont .main_right {
  width: 1010px;
  float: right;
  margin-bottom: 10px;
}

.listpage_cont .main_right .mian_left_top_a {
  display: block;
  width: 76.3%;
  height: 210px;
  background-image: url("../img/page_logo.jpg");
}

.listpage_cont .main_right .listTab {
  margin-top: 10px;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list {
  float: left;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list {
  padding: 25px 15px 1px 15px;
  width: 250px;
  float: left;
  overflow: hidden;
  font-size: 12px;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list a img {
  width: 144px;
  height: 108px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .title {
  height: 35px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  margin: 4px 0;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .title a {
  color: #666;
  float: left;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .title a img {
  height: 12px;
  width: 65px;
  float: left;
  margin: 2px 5px 0 0;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .pingfen {
  float: left;
  width: 100%;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .pingfen span {
  display: inline-block;
  width: 65px;
  margin-top: 2px;
  height: 14px;
  float: left;
  background: url(../img/haitaologo.png) no-repeat;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .pingfen a {
  line-height: 16px;
  padding: 10px;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .priceline span {
  color: #f60;
  font-size: 14px;
  font-weight: bold;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .listbuy {
  margin-top: 15px;
  text-align: center;
  float: left;
  width: 100%;
  text-align: center;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .listbuy a {
  color: #ccc;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  vertical-align: top;
  padding: 0 10px;
  height: 26px;
  float: left;
  line-height: 24px;
  border: 1px solid #ccc;
  margin-left: 20px;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .listbuy a input {
  margin-right: 5px;
}

.listpage_cont .main_right .main_right_bot .main_right_bot_list .haitao_list .listbuy a:nth-child(1) {
  color: #fff;
  background: #f7661f;
}

.listpage_cont .main_right .main_right_bot #page {
  float: left;
}

.listpage_cont .main_right .main_right_bot #page span {
  display: inline-block;
  margin: 5px;
  width: 40px;
  height: 30px;
  line-height: 1.8;
  text-align: center;
  background-color: #dfdfdf;
  color: #666;
}

.listpage_cont .main_right .main_right_bot #page .active {
  background-color: #fc0;
  color: #fff;
}
